/*Global styles
-------------------------------------------------------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  color: #0c0202;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 1.5;
  font-weight: 500;
}
h1,
h2 {
  font-family: "Caveat", cursive;
  font-weight: 600;
  margin: 0;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}

img {
  width: 500px;
  height: 400px;
}
a {
  color: rgb(3, 1, 3);
}
a:hover {
  text-decoration: none;
}
h2 {
  margin: 0;
}
.content-wrap {
  width: max-width;
  width: 85%;
  margin: 0 auto;
  padding: 60px;
}
h3 {
  margin-bottom: 0;
}
h3,
p {
  margin-top: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px outset #c4180c;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}
/*Profile
-------------------------------------------------------*/
header {
  background-color: #afaef8;
  color: #0a0000;
}
/*Projects
-------------------------------------------------------*/
.projects {
  background: #f0dfdd;
}
.projects a {
  color: rgb(76, 39, 243);
}
.projects .btn {
  color: aliceblue;
  background: #363942;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects a:hover {
  background: rgb(54, 57, 66, 80%);
}
.project-item {
  overflow: hidden;
}
.project-item img {
  float: left;
  margin-right: 20px;
}
.project-item h3 {
  margin-top: 0px;
}
/*Work experience
-------------------------------------------------------*/
.workexperience {
  background: #dbc4ee;
}

/*Education
-------------------------------------------------------*/
.edu {
  background-image: url(../images/education.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
  color: aliceblue;
}
.edu p {
  width: 60%;
}

/*contact info
-------------------------------------------------------*/
footer {
  background-color: #afaef8;
  color: #0a0000;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}
/* responsive 
--------------------------------------------------------------------*/
@media screen and (min-width: 750px) {
  header,
  footer {
    text-align: center;
  }
  .project-item img {
    float: left;
    margin-right: 20px;
  }
  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 749) {
  h1 {
    font-size: 75px;
    line-height: 0.9;
    margin-bottom: 20px;
  }
  h2 {
    line-height: 1;
  }
  .contact-list a {
    padding: 5px;
  }
}
